*{
    margin: 0px;
}

:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;

}
body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: var(--amarillo);
}
.logo{
    width: 50%;
    padding: 10px;
}
.buscador{
    margin: 10px;
    padding: 5px;
    background-color: var(--gris-claro);
    border: 1px solid var(--gris-oscuro);
    
}
.icono-buscador i{
    margin-left: 10px;
    padding: 2px;
    background-color: #fff;
    border: 1px solid #000  ;
    font-weight: bold;
    border-radius: 3px;
    
}
.texto-formadepago{
    text-align: center;
}
header ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(#000)
}
h3.titulares{
    font-size: 24px;
}

p.precios{
    font-size: 18px;
}

p.descuentos{
    font-size: 16px;
}

h4.descripciones{
    font-size: 16px;
}

.burger-menu{
    text-align: center;
}

.burger-menu i{
    background-color: var(--celeste); 
    color: #fff;
    width: 25px;
    height: 25px;
    font-size: 25px;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0 15px 0;
}
.credit-card{
    text-align: center;
}
.credit-card i{
    color: var(--celeste);
    font-size: 25px;
    padding: 2px;
    margin: 10px 0 15px 0;
}
h4.tarjeta{
    color:var(--gris-oscuro);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.texto-tarjeta{
    text-align: center;
    font-size: 10px;
}
.gift{
    text-align: center;
}
.gift i{
    color: var(--celeste);
    font-size: 25px;
    padding: 2px;
    margin: 10px 0 15px 0;
}
h4.gift{
    color:var(--gris-oscuro);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.texto-gift{
    text-align: center;
    font-size: 10px;
}
.shield{
    text-align: center;
}
.shield i{
    color: var(--celeste);
    font-size: 25px;
    padding: 2px;
    margin: 10px 0 15px 0;
}
h4.shield{
    color:var(--gris-oscuro);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.texto-shield{
    text-align: center;
    font-size: 10px;
}
h4.copyright{
    color:var(--gris-oscuro);
    text-align: left;
    font-size: 10px;
    padding: 20px;